<a href="https://colab.research.google.com/github/gpaldtya2002/Printing-Tables/blob/main/Table_of_num.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Method 1: Using For loop

In [1]:
a=7
for i in range(1,11):
  print(a, "*",i, "=",a*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## Method 2: Using While loop

In [9]:
a=8
i=1
while i<=10:
  print(a, "*",i, "=",a*i)
  i+=1

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

## Print table of num entered by user

In [10]:
x= int(input("Enter No:"))
for i in range(1,11):
	print (x," * ", i , " = ", i * x)

Enter No:129
129  *  1  =  129
129  *  2  =  258
129  *  3  =  387
129  *  4  =  516
129  *  5  =  645
129  *  6  =  774
129  *  7  =  903
129  *  8  =  1032
129  *  9  =  1161
129  *  10  =  1290